.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: dimgray;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  background: linear-gradient(0deg, rgba(34,34,34,1) 51%, rgba(0,0,0,1) 100%);
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    padding-top: 40px;
    margin-top: -40px;
    z-index: 999;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(74,74,74,1) 100%);
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    padding-top: 40px;
    margin-top: -40px;
    z-index: 9999;
  }
}

@media screen and (max-width: 700px) {
  .sidebar a {
    float: left;
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    font-size: 11px;
    padding: 11px;
  }
}

@media screen and (max-width: 700px) {
  div.content {
    margin-left: 0;
    padding-top: 40px;
  }
}

@media screen and (max-width: 400px) {
  div.content {
    margin-left: 0;
    padding-top: 40px;
  }
}

#about-me .text-primary {
  color: white;
}

#about-me img {
  margin-right: 25px;
}

#about-me .add-spacing-top {
  padding-top: 150px;
}

@media screen and (max-width: 700px) {
  #about-me .add-spacing-top {
    padding-top: 50px;
  }
}

@media screen and (max-width: 400px) {
  #about-me .add-spacing-top {
    padding-top: 0px;
  }
}

#about-me p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.panel-add-top {
  margin-top: 50px;
}

.add-padding-bottom-page {
  padding-top: 15px;
  padding-bottom: 30px;
}

#portfolio .card {
  margin-bottom: 15px;
}

.download-icon {
  font-size: 50px;
}

.fa.fa-envelope-o.download-icon {
  font-size: 45px;
}

.spacer-1 {
  padding-top: 60px;
}

.cd-top.js-cd-top.cd-top--fade-out.cd-top--show {
  z-index: 999;
}

.download-link {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.download-link:hover {
  background-color: gray;
  transition: background-color 0.2s;
  outline-color: black;
  outline-width: 15px;
}

.inline-image {
  margin: 0px;
  float: right;
  display: inline-block;
  width: 50%;
  height: auto;
  padding: 0px;
}

@media screen and (max-width: 700px) {
  .inline-image {
    margin: 0px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 0px;
  }
}

#portfolio a {
}

.justify-date-right {
  float: right;
}

@media screen and (max-width: 700px) {
  .justify-date-right {
    float: none;
  }
}

.center-button {
  display: inline-block;
  padding-bottom: 15px;
}

.anchor-offset {
  height: 50px;
  margin-top: -50px;
  display: block;
  visibility: hidden;
}

.portfolio-card {
  margin-bottom: 10px;
  background-color: var(--bs-white);
  border-radius: 0px;
}

.max-width-panel {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

resume {
}

contact-info {
}

