/* Span Entire Page with Body/HTML */

html {
  overflow: auto;
  height: 50px;
  min-height: 100%;
}

/* Custom Font */

body {
  font-family: 'Open Sans';
}

/* Font Sizes */

.page-wrapper {
  font-size: 16px;
}

@media (max-width: 1600px) {
  .page-wrapper {
    font-size: 16px;
  }
}

@media (max-width: 1300px) {
  .page-wrapper {
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  .page-wrapper {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .page-wrapper {
    font-size: 13px;
  }
}

p {
  font-size: 1.25em;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.32em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1.08em;
}

/* Colors */

:root {
  --content-1: #282828;
  --content-2: #6f6f6f;
  --sidebar-1: #0b0b0b;
  --sidebar-2: #333333;
  --text-1: #d0d0d0;
  --text-2: #bababa;
  --text-3: #ea96ff;
  --border-1: #8f8f8f;
  --diamond-1: #29bfff;
  --diamond-2: #fb35ff;
  --diamond-3: #ff8228;
  --diamond-4: #2bff40;
  --diamond-5: #ff594e;
  --diamond-6: #4950ff;
}

/* Page Wrapper */

.page-wrapper {
}

/* Body */

body {
  background: var(--content-1);
}

html {
  height: 100%;
  min-height: 100%;
}

/* Sidebar */

@media (max-width: 722px) {
  .sidebar-background {
    display: none;
  }
}

@media (max-width: 1000px) {
  .sidebar-background {
    position: fixed;
    width: 140px;
    height: 100%;
    background-color: var(--sidebar-2);
  }
}

@media (min-width: 1001px) {
  .sidebar-background {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: var(--sidebar-2);
  }
}

@media (max-width: 722px) {
  .sidebar-entry {
    display: none;
  }
}

@media (max-width: 1000px) {
  .sidebar-entry {
    position: absolute;
    width: 140px;
    text-align: right;
    float: left;
    font-size: 1.5em;
    color: var(--text-1);
    /*border-top: 1px solid rgba(255,255,255,0);*/
    /*border-bottom: 1px solid rgba(255,255,255,0);*/
    /*border: 1px solid var(--text-1);*/
    transition-duration: 0.0s;
    clear: both;
    height: 20px;
  }
}

@media (min-width: 1001px) {
  .sidebar-entry {
    position: absolute;
    width: 200px;
    text-align: right;
    float: left;
    font-size: 1.5em;
    color: var(--text-1);
    /*border-top: 1px solid rgba(255,255,255,0);*/
    /*border-bottom: 1px solid rgba(255,255,255,0);*/
    /*border: 1px solid var(--text-1);*/
    transition-duration: 0.0s;
    clear: both;
    height: 20px;
  }
}

.sidebar-entry.sidebar-entry-scrolling-1 {
  position: fixed;
  transition-duration: 0s;
}

.sidebar-entry .sidebar-link {
  position: relative;
  text-decoration: none;
  color: var(--text-1);
  top: -9px;
  user-select: none;
}

.sidebar-entry .sidebar-real-link {
  position: absolute;
  top: -4px;
  right: -10px;
  left: 0;
  height: 130%;
  border: none;
  text-decoration: none;
  color: var(--text-1);
  border: none;
}

.sidebar-entry .sidebar-real-link:hover {
  border-top: 1px solid var(--text-1);
  border-bottom: 1px solid var(--text-1);
}

.sidebar-entry span {
  position: absolute;
  margin-right: -0.455em;
  font-size: 1.3em;
  top: -7.25px;
  right: -0.4px;
}

.sidebar-entry .diamond-1 {
  color: var(--diamond-1);
}

.sidebar-entry .diamond-2 {
  color: var(--diamond-2);
}

.sidebar-entry .diamond-3 {
  color: var(--diamond-3);
}

.sidebar-entry .diamond-4 {
  color: var(--diamond-4);
}

.sidebar-entry .diamond-5 {
  color: var(--diamond-5);
}

.sidebar-entry .diamond-6 {
  color: var(--diamond-6);
}

/* Line Gradient */

@media (max-width: 722px) {
  .line-gradient {
    display: none;
  }
}

@media (max-width: 1000px) {
  .line-gradient {
    width: 2px;
    height: 100%;
    position: fixed;
    background: var(--border-1);
    left: 140px;
    z-index: -1;
  }
}

@media (min-width: 1001px) {
  .line-gradient {
    width: 2px;
    height: 100%;
    position: fixed;
    background: var(--border-1);
    left: 200px;
    z-index: -1;
  }
}

/* Content */

.content-border {
  /*border: 2px var(--border-1) solid;*/
  height: 100%;
  width: 100%;
  position: fixed;
}

.content {
  padding-left: 220px;
  color: var(--text-1);
  margin-right: 20px;
}

@media (max-width: 1000px) {
  .content {
    padding-left: 160px;
    color: var(--text-1);
    margin-right: 20px;
  }
}

@media (max-width: 722px) {
  .content {
    padding-left: 10px;
    color: var(--text-1);
    margin-right: 10px;
  }
}

/* About Me */

.about-me .name-banner {
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 20px;
}

@media (max-width: 950px) {
  .about-me .name-banner img {
    width: 10em;
    height: 10em;
  }
}

@media (min-width: 951px) {
  .about-me .name-banner img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 950px) {
  .about-me .name-banner h1 {
    margin-left: 25px;
    font-size: 2.5em;
  }
}

@media (min-width: 951px) {
  .about-me .name-banner h1 {
    margin-left: 25px;
    font-size: 4.0em;
  }
}

/* Contact */

.contact {
  margin-top: 100px;
}

.contact .contact-entry {
  border-top: 1px solid var(--text-1);
  border-bottom: 1px solid var(--text-1);
  padding: 15px;
  padding-left: 0px;
  margin-bottom: 5px;
}

.contact .contact-entry h3 {
  padding-left: 15px;
}

.contact .contact-entry a {
  font-size: 2.2em;
  display: inline-block;
  color: var(--text-1);
  margin: 0 10px;
  width: 60px;
  height: 60px;
  border: 1px solid var(--text-1);
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
  background-color: rgba(0,0,0,0);
  transition-duration: 0.3s;
}

.contact .contact-entry a:hover {
  background-color: rgba(0,0,0,0.6);
  transition-duration: 0.3s;
}

/* Resume */

.resumes {
  margin-top: 100px;
}

.resumes .resume-entry {
  border-top: 1px solid var(--text-1);
  border-bottom: 1px solid var(--text-1);
  padding: 15px;
  padding-left: 0px;
  margin-bottom: 5px;
}

.resumes .resume-entry h3 {
  padding-left: 15px;
}

.resumes .resume-entry a {
  font-size: 2.2em;
  display: inline-block;
  color: var(--text-1);
  margin: 0 10px;
  width: 60px;
  height: 60px;
  border: 1px solid var(--text-1);
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
  background-color: rgba(0,0,0,0);
  transition-duration: 0.3s;
}

.resumes .resume-entry .fa-file-pdf-o {
  color: #ff0000;
}

.resumes .resume-entry .fa-file-word-o {
  color: #00a2ed;
}

.resumes .resume-entry a:hover {
  background-color: rgba(0,0,0,0.6);
  transition-duration: 0.3s;
}

/* Portfolio */

.portfolio {
  margin-top: 100px;
}

@media (max-width: 722px) {
  .portfolio-entry {
    border-top: 1px solid var(--text-1);
    border-bottom: 1px solid var(--text-1);
    padding: 5px;
    margin-bottom: 5px;
    overflow: auto;
  }
}

@media (min-width: 723px) {
  .portfolio-entry {
    border-top: 1px solid var(--text-1);
    border-bottom: 1px solid var(--text-1);
    padding: 15px;
    margin-bottom: 5px;
    overflow: auto;
  }
}

.portfolio-entry .portfolio-game-title {
  float: left;
}

.portfolio-entry .portfolio-game-date {
  float: right;
}

.portfolio-entry .portfolio-game-role {
  clear: both;
}

.portfolio-entry .portfolio-game-info {
  clear: both;
}

@media (max-width: 1099px) {
  .portfolio-entry .portfolio-game-gallery {
    margin: 15px;
    width: 85%;
    display: inherit;
    margin: auto;
    /*float: right;*/
    border: 2px solid var(--text-1);
  }
}

@media (min-width: 1100px) {
  .portfolio-entry .portfolio-game-gallery {
    margin: 15px;
    width: 35em;
    display: inline-block;
    float: right;
    border: 2px solid var(--text-1);
  }
}

.portfolio-entry .portfolio-game-high-concept {
}

div {
}

.portfolio-entry .portfolio-game-about {
}

/* Education */

.education {
  margin-top: 100px;
}

.education .education-entry {
  border-top: 1px solid var(--text-1);
  border-bottom: 1px solid var(--text-1);
  padding: 15px;
  margin-bottom: 5px;
}

.education .education-school {
  float: left;
}

.education .education-date {
  float: right;
}

.education .education-degree {
  clear: both;
}

/* Skills */

.skills {
  margin-top: 100px;
}

.skills .skills-entry {
  border-top: 1px solid var(--text-1);
  border-bottom: 1px solid var(--text-1);
  padding: 15px;
  margin-bottom: 5px;
}

/* Footer */

.footer {
  padding-bottom: 150px;
}

/* Anchor Shifting */

#anchor-about-me {
  position: relative;
  top: 210px;
}

#anchor-about-me-target {
}

#anchor-contact {
  position: relative;
  top: 17px;
}

#anchor-contact-target {
  position: relative;
  top: -100px;
}

#anchor-resumes {
  position: relative;
  top: 17px;
}

#anchor-resumes-target {
  position: relative;
  top: -100px;
}

#anchor-portfolio {
  position: relative;
  top: 17px;
}

#anchor-portfolio-target {
  position: relative;
  top: -123.5px;
}

#anchor-education {
  position: relative;
  top: 17px;
}

#anchor-education-target {
  position: relative;
  top: -154.5px;
}

#anchor-skills {
  position: relative;
  top: 17px;
}

#anchor-skills-target {
  position: relative;
  top: -50px;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 37%;
  bottom: 37%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

